@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-size-adjust: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1.1875rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
